<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Habit #<%= @habit.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/habits" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <% if current_user == @habit.user %>
          <a href="/habits/<%= @habit.id %>/edit" class="btn btn-block btn-sm btn-outline-secondary">
            Edit habit
          </a>
        <% end %>
      </div>

      <div class="col">
        <% if current_user == @habit.user %>
          <a href="/delete_habit/<%= @habit.id %>" class="btn btn-block btn-sm btn-outline-secondary">
            Delete habit
          </a>
        <% end %>
      </div>
    </div>

    <dl>
      <dt>
        Habit name
      </dt>
      <dd>
        <%= @habit.habit_name %>
      </dd>

      <dt>
        User
      </dt>
      <dd>
        <% if @habit.user.present? %>
          <a href="/users/<%= @habit.user_id %>">
            <%= @habit.user.created_at %>
          </a>
        <% end %>
      </dd>

      <dt>
        Actively tracking
      </dt>
      <dd>
        <%= @habit.actively_tracking %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@habit.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@habit.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "habit_templates/habit_completions" %>
  </div>
</div>
